@page
@model WebApp.Pages.Equipments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.equipment_model_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.equipment_model_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Equipment.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
