@page
@model WebApp.Pages.Equipments.PositionHistoryModel

@{
    ViewData["Title"] = "PositionHistory";
}

<h1>PositionHistory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionLastHistory[0].Equipment_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionLastHistory[0].Equipment_model_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionLastHistory[0].Equipment_model_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionLastHistory[0].Equipment_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionLastHistory[0].Equipment_position_lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionLastHistory[0].Equipment_position_lon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionLastHistory[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EquipmentPositionLastHistory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipment_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipment_model_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipment_model_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipment_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipment_position_lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipment_position_lon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>