@model WebApplication.Models.ViewModel.LayoutViewModel<WebApplication.Models.ViewModel.EquipmentViewModel>

<div class="">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.PageModel.ViewTitle</li>
        </ol>
    </nav>
    <table class="table table-striped table-hover table-responsive text-center">
        <thead>
        <tr>
            <th >@Html.DisplayNameFor(x => x.PageModel.Equipments.First().Id)</th>
            <th >@Html.DisplayNameFor(x => x.PageModel.Equipments.First().Name)</th>
            <th >@Html.DisplayNameFor(x => x.PageModel.Equipments.First().EquipmentModel.Name)</th>
            <th >@Html.DisplayNameFor(x => x.PageModel.Equipments.First().EquipmentModel.Id)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var equipment in Model.PageModel.Equipments)
        {
            <tr>
                <td >@Html.DisplayFor(x => equipment.Id)</td>
                <td >@Html.DisplayFor(x => equipment.Name)</td>
                <td >@Html.DisplayFor(x => equipment.EquipmentModel.Name)</td>
                <td >@Html.DisplayFor(x => equipment.EquipmentModel.Id)</td>
            </tr>
        }
        </tbody>
    </table>
</div>