@page
@model WebApp.Pages.EquipmentPositionHistories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionHistory[0].Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPositionHistory[0].Lon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EquipmentPositionHistory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lon)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Equipment_id" asp-route-date="@item.Date.ToString("yyyy-MM-dd h:mm tt")">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Equipment_id" asp-route-date="@item.Date.ToString("yyyy-MM-dd h:mm tt")">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Equipment_id" asp-route-date="@item.Date.ToString("yyyy-MM-dd h:mm tt")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
